*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
local.properties
proguard/
*.log
.navigation/
captures/
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/caches
.externalNativeBuild
.cxx/
vcs.xml
*.hprof